{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p>{{ id }}</p>

            <a href="{{ path('homepage_detail') }}">Homepage detail</a>
            <a href="{{ path('homepage_form_test') }}">Homepage form test</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

