{% extends 'base.html.twig' %}

{% block body %}
    <h1>Default</h1>
    {{ id }}

    <a href="{{ path('homepage_detail') }}">Homepage detail</a>

{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

