{% extends 'base.html.twig' %}

{% block body %}
    <h1>Form test</h1>





    <a href="{{ path('homepage_default') }}">Homepage default</a>
    <a href="{{ path('homepage_detail') }}">Homepage detail</a>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}