{% extends 'base.html.twig' %}

{% block body %}
    <h1>Form test</h1>
    <div class="row">
        <div class="col-5">
            {{ form(form) }}
            <a href="{{ path('homepage_detail') }}">Homepage detail</a>
            <a href="{{ path('homepage_form_test') }}">Homepage form test</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}