{% block header %}
<header class="fade-in">
    <div class="navigation-bar flex middle-xs">
        <img src="{{ url("homepage_default") }}layouts/{{ layout }}/img/logo.svg" class="logo">
        <nav class="end-xs">
            <ul>
                <li><a href="/test_default">UserHomepage</a></li>
                <li><a href="/test_detail">Detail</a></li>
                <li><a href="/test_new">New</a></li>
                <li><a href="/test_edit">Edit</a></li>
                <li><a href="/test_delete">Delete</a></li>
                <li><a href="/">Zpet na Homepage</a></li>

            </ul>
        </nav>
    </div>
    <div class="hero flex middle-xs" style="background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('{{ url("homepage_default") }}layouts/{{ layout }}/img/hero-image.jpg');
            }">
        <div class="hero-text ">
            <h1>BeBlack</h1>
            <p>Short for beautiful black. A creative OnePager free to use.</p>
        </div>
    </div>
</header>
{% endblock %}