<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Symfony template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    </script>
</head>
<body>
    <div class="bs-docs-section clearfix">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
